@use 'components.scss';
@use 'fonts.scss';

:root {
  /* Colors */

  /* Neutral */
  --black: #061829;
  --white: #FAF9F6;

  /* Primary */
  --dark-teal: #0A2A2D;
  --light-teal: #005D5C;

  /* Sizes */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;
  --max: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--md);
  padding-inline: var(--max);
  padding-block: var(--lg);
}

a {
  color: inherit;
}

img {
  display: block;
}

svg {
  transition: color 0.3s ease-out;
}

/* Utility Classes */

.hidden {
  display: none;
}