@use 'components.scss';
@use 'fonts.scss';

:root {
  /* Colors */

  /* Neutral */
  --black: #061829;
  --white: #FAF9F6;
  --gray: #d7d7d7;

  /* Primary */
  --dark-teal: #0A2A2D;
  --light-teal: #005D5C;
  --orange: #F2A65A;

  /* Sizes */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;
  --max: 2rem;

  /* Typography */
  --font-sans: 'Manrope', system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  line-height: 1.5;
  letter-spacing: 0.2px;
}

html {
  inline-size: 100dvi;
  min-block-size: 100dvb;
  display: flex;
  justify-content: center;
}

body {
  max-inline-size: 60rem;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--md);
  padding-inline: var(--max);
  padding-block: var(--lg);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

svg {
  transition: color 0.3s ease-out;
}

button:focus-visible, 
a:focus-visible {
  outline: 2px solid #F2A65A;
  outline-offset: 2px;
}

/* Utility Classes */

.hidden {
  display: none;
}